.buttontext {
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
}
.select-button-text {
	overflow:hidden;
	text-overflow:ellipsis;
}
.icon {
	margin-left: auto;
	margin-right: auto;
}
.button {
	display:inline-block;
	float:left;
}
.button-conserve {
	width:80%;
}
.button-remove {
	width:20%;
	padding-right: 2%;
	padding-left: 2%;
	margin: 0;
}
.icon {
	width:1.5em;
}
body {
	display: inline-block !important; 
	float: left;
	margin:0px !important;
	font-size: 70%;
}
.name-input {
	display: inline-block !important; 
	float: left;
	width: 80%;
}
.conserve-button {
	display: inline-block !important; 
	float: left;
	width: 20%;
	border-bottom: 1px solid #808080;
}
.menu {
	width: 30em;
	display: inline-block !important; 
	float: left;
}
.all {
	width: 60em;
}
.tab-selection {
	width: 30em;
	display: inline-block !important; 
	float: left;
}
.placeholder-img {
	border:0px solid #000000;
	display: block;
	margin-left: auto;
	margin-right:auto;
}
.horizontal {
	display: inline-block !important; 
	float: left;
}